


body{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    font-family: var(--ff-base);
    font-size: var(--font-100);
    margin: 0%;
    min-height: 100vh;
    
}
.preview-card-details_description{
    color:  hsla(0, 0%, 100%, 0.75)
}
.preview-card-details_title{
    color:  hsl(0, 0%, 95%);
}
.preview-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 900px;
}
.preview-card_details{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sedan-preview{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem;
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0 0 10px;
}
.sedan-button{
    display: inline-block;
    width: 100px;
    padding: 10px 15px;

    color: hsl(31, 77%, 52%); 
    border-radius: 25px;
    font-family: 'Lexend Deca', sans-serif;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;

}
.sedan-button:hover{
     background-color: transparent;
     color: white;
     border: 2px solid white;
}
.suv-preview{
     display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem;
    background-color: hsl(184, 100%, 22%);

}
.suv-button{
    display: inline-block;
    width: 100px;
    padding: 10px 15px;
    color:  hsl(184, 100%, 22%);
    border-radius: 25px;
    font-family: 'Lexend Deca', sans-serif;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease; 

}

.suv-button:hover{
    background-color: transparent;
  color: white;
  border: 2px solid white;

}


.luxury-preview{
     display: flex;
    flex-direction: column;
    
    gap: 3rem;
    padding: 2rem;
    background-color: hsl(179, 100%, 13%);
    border-radius: 0px 10px 10px 0px;

}
.luxury-button{
    display: inline-block;
    background-color: white;
    width: 100px;
    padding: 10px 15px;
    border-radius: 25px;
    cursor: pointer;
    color: hsl(179, 100%, 13%);
    font-family: 'Lexend Deca', sans-serif;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;



}
.luxury-button:hover {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

.preview-card {
  display: flex;
  max-width: 900px; /* fits beautifully inside 1440px */
  border-radius: 10px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .preview-card {
    flex-direction: column;
    max-width: 90%;
  }
}







.attribution { 
    font-size: 11px; text-align: center;
    
 }
    .attribution a { 
        color: hsl(254, 70%, 33%); 
    }



